@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

.outer-container {
  display: flex;
}

.input-button-section {
  width: 50%;
}

h1, h2 {
  font-family: 'Balsamiq Sans', cursive;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px black;
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2rem;
}

.text-input, .add-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-input {
  font-size: 1.7rem;
  text-align: center;
  margin-top: 10%;
  height: 2.5rem;
  width: 50%;
  border: none;
  outline-color: #7e314c;
  border-radius: 5px;
}

.add-button {
  font-size: 1.25rem;
  margin-top: 10%;
  border: none;
  border-radius: 25px;
  padding: 1rem 2.25rem;
  background-color: #7e314c;
  color: white;
  cursor: pointer;
  transition-duration: 250ms;
}

.add-button:hover {
  background-color: white;
  color: #7e314c;
}

.add-button:focus {
  outline: none;
}